<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <appSettings>

    <add key="defaultConnectionString" value="server=localhost;uid=root;pwd="/>
    <add key="сonnectionString" value="" />

    <add key="verboseLogging" value="true"/>

    <add key="serverVersion" value="1.9"/>
    <add key="anonymousAllowed" value="true"/>
    <add key="testModeUseLocalhost" value="false"/>
    <add key="gameServerIp_local" value="127.0.0.1"/>
    <add key="gameServerPort" value="5055"/>


    <add key="paymentInterkassaSecretKey" value="LybW5h9MunpeUkit"/>
    <add key="paymentInterkassaTestSecretKey" value="tix8y7uQIKdxKez8"/>
    <add key="paymentInterkassaId" value="5c8f68eb3c1eaffa2d8b4571"/>
    <add key="paymentInterkassaDesc" value="Popolnenie balansa"/>


    <add key="log4net.Config" value="log4net.simple.config" />
  </appSettings>

  <startup> 
   <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
